/***************************************/
/*  IMAGES STYLES                      */
/***************************************/
.logo-img {
  height: 3rem;
}

.header-img {
  width: 100%;
}

.img-benefit {
  width: 100%;
}

[class^="icon"] {
  height: 2rem;
}

.logo-footer {
  height: 5rem;
}
