/***************************************/
/*  FOOTER STYLES                      */
/***************************************/
footer {
  background-color: $color-secondary-dark;
  color: $color-secondary-light;
  padding: 18rem 0 5rem;
  position: relative;
}

.footer {
  @include gridy($disp: grid, $g-t-c: 1fr);
  row-gap: 4rem;

  @include small-device {
    padding: 3rem;
  }

  &__logo-box {
  }

  &__links-box {
    @include gridy($disp: grid, $g-t-c: 2.5fr 1fr 1fr 2fr);
    column-gap: 8rem;

    @include small-device {
      @include gridy($g-t-c: 1fr);
    }

    & > ul {
      list-style: none;
    }

    li:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__copyright-box {
    justify-self: end;
    font-size: 1.4rem;

    @include small-device {
      justify-self: center;
    }
  }

  &-navlinks-1 {
    @include small-device {
      margin-bottom: 2rem;
    }
  }
}

// CONTACT INFORMATION STYLES
.contact-infos {
  font-size: 1.6rem;
  line-height: 1.6;
  padding-left: 1rem;

  @include small-device {
    margin-bottom: 5rem;
  }

  .contact {
    @include flexy($disp: flex, $align: flex-start);
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .footer-link {
    &:link,
    &:visited {
      font-size: inherit;
    }
  }
}

// LINK STYLES
.footer-link {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.7rem;
    color: $color-secondary-light;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in;
  }

  &:hover,
  &:active {
    border-bottom-color: inherit;
  }
}
